*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background: url(landingimage.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
header{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	background-color: #000;
}

header ul{
	list-style: none;
	display: flex;
}
header ul li{
	width: 150px;
	height: 60px;
	line-height:30px;
	padding: 14px 25px;
	text-align: center;
	display: inline-block;
}
header ul li:hover{
	background-color: #800020;
	opacity: 0.8;
}
header ul li:nth-child(3){
	border-top: 4px solid #800020;
}
main{
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
main p{
	width: 700px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 50px;
	background-color: #000;
	color: white;
	border-radius: 20px;
}

main button{
	width: 250px;
	height: 60px;
	border: none;
	outline: none;
	border-radius:  10px;
	margin-top: 30px;
	font-size: 30px;
	background-color: #800020;
}
main button:hover{
	background-color: #800020;
	opacity: 0.9;
}
