body{
	background: rgba(114, 0, 0, 0.9);
	margin: 0;
	color: rgb(255, 255, 255);
	font-family: 'Chakra Petch', sans-serif;	
}

.main{
	height: 100vh;
	width: 100%;
	background-image: url('background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.opening{
	position: absolute;
	top: 5%;
	left: 50%;
	margin-top: 105px;
	margin-left:-145px;
	width: 300px;
	height: 350px;
	text-align: center;
}

.opening .logo {
	margin-left: -115px;
}

.opening .text{
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.opening .main-download{
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 12px;
	background-color: #e7e7e7; 
	color: black;
	text-decoration: none;
}
.opening .main-download:hover {
	background-color: #555555; 
	color: white;
}

.key-facts .character{
	margin-top: 1rem;
}
.container{
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 1rem 1rem 4rem 4rem;
}

.block {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.concept{
	background-color: #3f0000;
	text-align: center;
	margin-left: -50px;	
}

.concept .minor-download{
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 12px;
	background-color: #e7e7e7; 
	color: black;
	text-decoration: none;
}
.concept .minor-download:hover {
	background-color: #555555; 
	color: white;
}

.copyright{
	text-align: center;
	color: white;
}

.join-us{
	background-color: #3f0000;
	text-align: center;
	margin-left: -50px;	
}
nav{
	width:100%;
	height:100px;
	background-color:#3f0000;
	
}

ul{
	
}
ul li{
	list-style:none;
	display:inline-block;
	float: right;
	line-height:100px;  
}
ul li a{
	display: block;
	text-decoration: none;
	font-size:20px;
	font-family:'Chakra Petch', sans-serif;
	color: white;
	padding:0 20px;
}
ul li a:hover{
	color:red;
}
