body{
	background: rgba(114, 0, 0, 0.9);
	margin: 0;
	color: rgb(255, 255, 255);
	font-family: 'Chakra Petch', sans-serif;	
}
.main{
	height: 100vh;
	width: 100%;
	background-image: url('background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.info{
	position: absolute;
	top: 10%;
	margin-top: 300px;
	left: 50%;
	margin-left: -450px;
	text-align: center;
	padding-right: 20px;
}

.info .logo{
	height: 35vh;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px; 
	margin-left: -280px; 
}

.info .main-download{
	position: absolute;
	margin-top:10px;
	margin-left: -110px;
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 12px;
	background-color: #e7e7e7; 
	color: black;
	text-decoration: none;
}
.info .main-download:hover {
	background-color: #555555; 
	color: white;
}
.within{
	max-width: 960px;
	margin: auto;
	padding: 1rem 1rem 5rem 5rem;
}

.key-facts .character{
	width: 700px;
	height: 100px;
	padding: 3rem 0rem 0rem 17.5rem;
}

.grid1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.concept{
	background-color: #3f0000;
}
.grid2{
	padding: 0rem 0rem 0rem 12.5rem;
	text-align: center;
	
}
.grid2 .minor-download{
	height: 40px;
	margin-top: 10px;
	font-size: 16px;
	padding: 10px 24px;
	border-radius: 12px; 
	background-color: #e7e7e7; 
	color: black;
	text-decoration: none;
}
.grid2 .minor-download:hover {
	background-color: #555555; 
	color: white;  
}
.grid2 .description{
	width: 500px;
}
.center{
	text-align: center;
	color: black;
}
